.container{
    height: 500px;
    background-color: beige;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.box{
    height: 100px;
    width: 100px;
    margin: 5px;
}

.first{
    background-color: orange;
}

.second{
    background-color: green;
}

.third{
    background-color: red;
}

.fourth{
    background-color: chartreuse;
}